@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to bottom right, cornflowerblue, royalblue);
  color: #fff;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: royalblue;
  color: #fff;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: all 0.25s;
}

a:hover {
  opacity: 0.6;
}

.active {
  transform: scale(1.1);
  text-decoration: underline coral solid 2px;
  text-underline-offset: 5px;
}

h2 {
  text-align: center;
  font-size: 2.2em;
}

.home-section > div {
  margin: auto 5vw;
}

.calculator-section {
  flex-direction: column;
  justify-content: space-around;
}

h3 {
  font-size: 1.8em;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 16px solid rgba(52, 61, 61, 0.5);
  border-radius: 5px;
}

.num-input {
  height: 20px;
  padding: 15px 5px;
  grid-column: 1/5;
  text-align: end;
  background-color: rgba(204, 200, 200, 0.7);
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

#zero {
  grid-column: 1/3;
}

input {
  padding: 16px 25px;
  border-radius: initial;
  outline: none;
  font-size: 18px;
}

.operator {
  background-color: #ff8f0f;
}

blockquote {
  font-size: 1.5em;
  text-align: center;
  margin: 0 12vw;
}
